work/simv*
work/csrc/
work/*.daidir/
work/DVEfiles/
work/*.vpd
work/*.fsdb
work/*.vdb
work/*.log
work/ucli.key
work/vc_hdrs.h
work/novas.*
work/verdiLog/
work/*.key
work/AN.DB/
work/.vlogansetup.env
work/signal.rc
*.swp
.DS_Store